/*
Billy Mills
CSCI 242
proj1p2.css
April 9, 2012
*/

canvas {
	border: 2px solid black
}

#headerCanvasDiv {
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}

#headerDiv {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}



#canvasDiv {
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}

h1,h3,h4 {
	font-family: 'Ubuntu Mono', sans-serif;
	text-align: center;
	padding: 0px;
}