/*
Billy Mills
CSCI 242
proj1p2.css
April 9, 2012
*/

canvas {
	border: 2px solid black
}

#headerDiv {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

#canvasDiv {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

h1 {
	font-family: 'Ubuntu Mono', sans-serif;
	text-align: center;
}